<% 

    suits = ["clubs", "diamonds", "hearts", "spades"]
    numbers = [2, 3, 4, 5, 5, 6, 8, 9, 10, "jack", "queen", "king", "ace"]

    deck = []
    for number in numbers 
        for suit in suits 
            deck << "#{number}_of_#{suit}"
        end
    end

%>

<h1>Deal the cards</h1>
<p>
    <% cards = deck.shuffle %>
    <% for i in 1..5 do %>
        <img src="/images/cards/<%= cards[i] %>.svg" />
    <% end %>
</p>

<p>
    <a href="/cards">Deal Again!</a>
</p>